.container {


    height: fit-content;
    margin: 10px auto;
    width: auto;
}

.top {
    background-color: #FF704C;
    display: flex;
    align-items: center;
    height: 450px;
}
#plusIcon{
    margin-left: 90px;

}

#plusIcon , #closeIcon {
    font-size: 75px;
    color: white;
   
        
}
#closeIcon {
    margin-top: 150px;
    margin-right: 180px;
}


#phone {
    margin-left: 100px;
}

#phone img {
    /* height: 10%; */
    /* width: 50%; */
    height: 420px;
    width: 300px;


}

.phoneDisplay {
    display: block;

}

.formDisplay {
    display: none;

}

.right1 {


    display: flex;
    align-items: center;

}

.right2 {
    display: flex;
    margin-left: 400px;
}

.bars {

    color: white;
    padding: 25px;
    margin-right: 200px;
}

.barsIcon {
    font-size: 80px;
}

.welcome {

    color: white;
    margin-left: 40px;

}

#form {

    background-color: white;
    color: #FF704C;
    border: none;
    outline: none;
   
    width: 400px;
    height: 450px;
    font-size: 25px;
    padding: 5px;
}

#form .heading  {
    color: white;
    background-color: #FF704C;
    height: 50px;
    font-size: 18px;
    padding: 5px;
}
.topH{
    color: red;
    height: auto;
    font-size: 15px;
    font-weight: bolder;
    display: none;
}



#imageInput,
#dateInput,
#taskInput {
    height: 30px;
    width: 390px;
    margin-top: 10px;
    border: solid 1px grey;
    border-radius: 4px;
    padding: 5px;
}

.taskArea,
.imageArea,
.dateArea {
    margin-top: 10px;
}

#addTaskBtn {
    height: 50px;
    width: 390px;
    color: white;
    background-color: #FF704C;
    border: none;
    margin-top: 8px;
    font-size: 25px;
}

.bottom {
    height: 600px;
}
#activityDesc{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 20px;
}

#activity {
    text-align: center;
    margin-top: 10rem;
    color: black;
}

#streaksList {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.aStreak {
    border: solid 1px #FF704C;
    height: fit-content;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 20px; */
}
.streakImage{
    color: #1E90FF;
    /* font-size: 90px; */
}
.popUp{
    
    height: 280px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    right: 40%;
    left: 26.5%;
    bottom: 27%;
    padding-top: 20px;
   
    
}
.icon, .days , .description, .date, .actions{
    padding-top: 5px;
}
.icon{
    color: #1E90FF;
    font-size: 100px;
}
/* #middle{
    display: none;
} */
.actions{
    display: flex;
    gap: 15px;
}
#closeBtn, #deleteBtn{
    height: 40px;
    width: 100px;
    color: white;
    border: none;
}
#closeBtn{
    background-color: red;
    
}
#deleteBtn{
    background-color: gray;
}